{% extends 'base.html' %}

{% block title_name %}
    Авторизация
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row text-center justify-content-center">
            <div class="col-8">
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button class="btn btn-success" type="submit">Авторизоваться</button>
                </form>
            </div>
        </div>
        <div class="row text-center justify-content-center">
            <div class="col-2">
                <a class="btn btn-primary" href="{% url 'registration_page' %}">Зарегистрироваться</a>
            </div>
            <div class="col-2">
                <a class="btn btn-primary" href="{% url 'home_page' %}">Вернутся</a>
            </div>
        </div>
    </div>
{% endblock %}