{% extends 'base.html' %}

{% block title_name %}
    Подробнее о {{ object.name }}
{% endblock %}

{% block header %}
    {% include '_inc/_header.html' with current_page='developer' %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row text-center content-justify-center">
            <div class="col">
                <h1>{{ object.name }}</h1>
            </div>
        </div>
        <div class="row ">
            <div class="col-8">
                <h2>Описание:</h2>
                <p>{{ object.description }}</p>
            </div>
        </div>
    </div>
{% endblock %}