{% extends 'base.html' %}

{% block title_name %}

{% endblock %}

{% block header %}
	{% include '_inc/_header.html' with current_page='developer' %}
{% endblock %}

{% block content %}
    <h1>Застройщики</h1>
    <div class="row">
    {% for object in object_list %}
        {% include 'house_shop/_inc/_card.html' with url_name='developer_detail_page' %}
    {% empty %}
    <h2>Застройщики отсутствуют</h2>
    {% endfor %}
    </div>
{% endblock %}