{% extends 'base.html' %}

{% load static %}

{% block title_name %}
Подробнее о товаре
{% endblock %}

{% block header %}
	{% include '_inc/_header.html' with current_page='catalog' %}
{% endblock %}

{% block content %}
    <div class="p-3">
        <h1 class="my-2">Подробнее о {{ object.name }}</h1>
        <table class="table table-bordered my-2">
            <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Стоимость</th>
                <th>Застройщик</th>
                <th>Cервис, включенный в стоимость</th>
                <th>Изображение</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ object.name }}</td>
                <td>
                    {% if object.descriptions %}
                        {{ object.descriptions }}
                    {% else %}
                        Описание отсутствует
                    {% endif %}
                </td>
            <td>{{ object.price }} руб.</td>
            <td>{{ object.developer.name }}</td>
            <td>
                <ul>
                    {% for service in object.service.all %}
                        <li>{{ service.name }}</li>
                    {% empty %}
                        <li>Нет предлагаемых сервисов</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                {% if object.photo %}
                    <img src="{{ object.photo.url }}" class="card-img-top" alt="...">
                {% else %}
                    <img src="{% static 'shop/images/no_photo.jpg' %}" class="card-img-top" alt="...">
                {% endif %}
            </td>
            </tr>
            </tbody>
        </table>
    <a href="{% url 'house_list_page' %}" class="btn btn-outline-primary my-2">Обратно к каталогу домов</a>
    </div>
{% endblock %}