{% extends 'base.html' %}

{% block title_name %}
    Подробнее о {{ supplier.name }}
{% endblock %}

{% block header %}
    {% include '_inc/_header.html' with current_page='supplier' %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row text-center content-justify-center">
            <div class="col">
                <h1>{{ supplier.name }}</h1>
            </div>
        </div>
        <div class="row ">
            <div class="col-8">
                <h2>Агент: {{ object.agent_firstname }} {{ object.agent_name }}</h2>
                <h3>Телефон агента: {{ object.telephone }}</h3>
            </div>
        </div>
        <div class="row ">
            <div class="col-8">
                <h4>Город отгрузки: {{ object.city }}</h4>
                <h4>Адрес поставщика: {{ object.address }}</h4>
            </div>
        </div>
    </div>
{% endblock %}