{% extends 'base.html' %}

{% block title_name %}

{% endblock %}

{% block header %}
    {% include '_inc/_header.html' with current_page='supplier' %}
{% endblock %}

{% block content %}
    <h1>Поставщики</h1>
    <div class="row">
        {% for object in object_list %}
            {% include 'house_shop/_inc/_card.html' with url_name='supplier_detail_page' %}
        {% empty %}
            <h2>Поставщики отсутствуют</h2>
        {% endfor %}
    </div>
{% endblock %}