{% load house_shop %}
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-body-secondary">© {% now 'Y' %} {% company %}</p>

    <a href="/"
       class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
        </svg>
    </a>

    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="{% url 'home_page' %}" class="nav-link px-2 text-body-secondary">Главная</a></li>
        <li class="nav-item"><a href="{% url 'house_list_page' %}" class="nav-link px-2 text-body-secondary">Каталог</a>
        </li>
        <li class="nav-item"><a href="{% url 'developer_list_page' %}" class="nav-link px-2 text-body-secondary">Застройщики</a>
        </li>
        <li class="nav-item"><a href="{% url 'supplier_list_page' %}" class="nav-link px-2 text-body-secondary">Поставщики</a>
        </li>
    </ul>
</footer>