{% load house_shop %}
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">{% company %}</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item">
            <a href="{% url 'home_page' %}" class="nav-link {% active current_page 'home' %}" aria-current="page">Главная</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'house_list_page' %}" class="nav-link {% active current_page 'catalog' %}">Каталог домов</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'developer_list_page' %}"
               class="nav-link {% active current_page 'developer' %}">Застройщики</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a href="{% url 'order_list_page' %}" class="nav-link {% active current_page 'order' %}">Заказы</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a href="{% url 'supplier_list_page' %}"
               class="nav-link {% active current_page 'supplier' %}">Поставщики</a>
        </li>

        {% if user.is_anonymous %}
        <li class="nav-item">
            <a href="{% url 'login_page' %}"
               class="nav-link {% active current_page 'login' %}">Войти</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'registration_page' %}"
               class="nav-link {% active current_page 'regis' %}">Зарегистрироваться</a>
        </li>
            {% else %}
        <li class="nav-item">
            <a href="{% url 'logout_page' %}"
               class="nav-link">Выйти</a>
        </li>
        {% endif %}

    </ul>
</header>