<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title_name %}

    {% endblock %}</title>

    {% block link_bootstrap %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
              crossorigin="anonymous">
    {% endblock %}

    {% block link_additional %}
    	
    {% endblock %}
</head>
<body class="container">
{% block body %}
    {% block header %}
        {% include '_inc/_header.html' with current_page='home' %}
    {% endblock %}

    <main>
        {% block content %}

        {% endblock %}
    </main>

    {% block footer %}
        {%  include '_inc/_footer.html' %}
    {% endblock %}
{% endblock %}
</body>
</html>