{% load static %}

<div class="col-4 d-flex justify-content-center">
    <div class="card my-3" style="width: 18rem">
        {% if photo_need %}
            {% if object.photo %}
                <img src="{{ object.photo.url }}" class="card-img-top" alt="...">
            {% else %}
                <img src="{% static 'shop/images/no_photo.jpg' %}" class="card-img-top" alt="...">
            {% endif %}
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ object.name }}</h5>
            {% if object.city %}
                <h6 class="card-subtitle mb-2 text-body-secondary">{{ object.city }}</h6>
            {% endif %}

            {% if object.price %}
                <p class="card-text">{{ object.price }} руб.</p>
            {% elif object.description %}
                <p class="card-text">{{ object.description|truncatewords:5 }}</p>
            {% elif object.agent_firstname and object.agent_name %}
                <p class="card-text">{{ object.agent_firstname }} {{ object.agent_name }} - {{ object.telephone }}</p>

            {% endif %}
            <a class="btn btn-primary m-1" href="{% url url_name object.pk %}">Подробнее...</a>
        </div>
    </div>
</div>